@import '~bootstrap/scss/bootstrap';
div {
    border-radius: 0px !important;
}

body {
    background-color: #f2f2f4 !important;
}

p._1xnXt {
    font-size: 22px !important;
    color: #383838 !important;
    padding-top: 12px;
    padding-left: 12px;
    padding-bottom: 12px;
}

.bluebg {
    color: white !important;
    background-color: #404d70;
}

.graybg {
    background-color: #edeff2;
}

.whitebg {
    background-color: #ffffff;
}

.centrartext {
    text-align: center;
    border-bottom: 0px !important;
    font-size: 1rem !important;
}

.derechatext {
    text-align: right !important;
    border-bottom: 0px !important;
}

.bordernone {
    border: 0px !important;
    box-shadow: 0 0px 0px 0 #ffffff !important;
}

ul li {
    color: black;
    list-style-type: none;
}

.uli1:before {
    color: rgba(50, 167, 52, 1);
    margin-left: -30px !important;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
    font-size: 50px;
    vertical-align: middle;
    line-height: 20px;
}

.uli2:before {
    color: rgba(203, 170, 37, 1);
    margin-left: -30px !important;
    float: left;
    margin: 0 0 0 -1em;
    width: 1em;
    content: '\2022';
    font-size: 50px;
    vertical-align: middle;
    line-height: 20px;
}